<section class="container">
    <div class="my-5 dashboard">
        <h1>Incident aanmaken</h1>

        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Incident naam</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="naam">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
              </div>

            <button type="submit" class="btn btn-primary">Incident aanmaken</button>
          </form>
    </div>
</section>